/* IMPORTANT NOTE: Do not have changes on addtion-styles.css
 * Please use Gulp and change any .scss files in Styles/scss
=============================================================*/

/**
 * Global variables
 */

@font-face {
	font-family: 'gotham';
	src: url('../fonts/Gotham-Book.otf');
}

@font-face {
	font-family: 'gotham-light';
	src: url('../fonts/Gotham-Light.otf');
}

@font-face {
	font-family: 'gotham-medium';
	src: url('../fonts/Gotham-Medium.otf');
}

*,
body,
input,
button,
select,
textarea {
	font-family: 'gotham';
	outline: none;
}

html {
	margin: 0 !important;
	padding: 0 !important;
}

/**
 * Landing page styling
 *
 */

.page-template-page-landing header {
	display: none;
}

.page-template-page-landing #landing .top {
	display: -ms-flexbox;
	display: flex;
	height: 50vh;
	text-align: center;
	color: white;
	background: url('../images/landing-bg.jpg') center center no-repeat;
	background-size: cover;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-template-page-landing #landing .top .inner {
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	padding: 10px;
}

.page-template-page-landing #landing .top .inner .logo {
	text-align: center;
}

.page-template-page-landing #landing .top .inner .logo img {
	width: 80%;
	max-width: 300px;
}

.page-template-page-landing #landing .top .inner .coming-soon {
	margin: 30px 0 0 0;
	padding: 0;
	text-align: center;
}

.page-template-page-landing #landing .bottom {
	display: -ms-flexbox;
	display: flex;
	height: 50vh;
	color: black;
	background: white;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-template-page-landing #landing .bottom .form {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 10px;
}

.page-template-page-landing #landing .bottom .form input {
	font-family: 'gotham';
	font-size: 13px;
	width: 100%;
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 0;
	box-shadow: none;
}

.page-template-page-landing #landing .bottom .form .title {
	font-family: 'gotham-light';
	font-size: 17px;
	text-align: center;
}

.page-template-page-landing #landing .bottom .form .responses div {
	display: none;
	text-align: center;
}

.page-template-page-landing #landing .bottom .form .responses #error-response {
	color: red;
}

.page-template-page-landing #landing .bottom .form .responses #success-response {
	color: green;
}

.page-template-page-landing #landing .bottom .form .submit {
	text-align: center;
}

.page-template-page-landing #landing .bottom .form .submit button {
	font-family: 'gotham';
	margin: 0;
	padding: 5px 25px;
	color: white;
	border: none;
	border-radius: 0;
	outline: none;
	background: black;
	box-shadow: none;
	text-shadow: none;
}

/**
 * Layout styling
 */

/*----------  BLOG STYLE Start  ----------*/

article.post .entry-wrap {
	margin-top: 50px;
	padding: 0;
	box-shadow: none;
}

/*----------  BLOG STYLE End  ----------*/

.x-section .x-container { /*----------  MAKE SURE IMAGE ALWAYS FULL WIDTH Start  ----------*/ /*----------  MAKE SURE IMAGE ALWAYS FULL WIDTH End  ----------*/
}

.x-section .x-container img.fullwidth-img {
	width: 100%;
}

.x-section .x-container.max.width {
	width: 100%;
}

.page-id-2 { /*----------  EDIT STYLES OF NEWSLETTER SIGNUP IN HOMEPAGE Start  ----------*/ /*----------  EDIT STYLES OF NEWSLETTER SIGNUP IN HOMEPAGE End  ----------*/
}

.page-id-2 #x-section-1 {
	position: relative;
	height: 660px;
	background-position: center top;
	background-size: cover;
}

.page-id-2 #x-section-1 .x-container.button-container {
	position: absolute;
	bottom: 17%;
}

.page-id-2 .x-raw-content .form#newsletter-section-7 .responses div {
	display: none;
	text-align: center;
}

.page-id-2 .x-raw-content .form#newsletter-section-7 .responses #error-response {
	color: red;
}

.page-id-2 .x-raw-content .form#newsletter-section-7 .responses #success-response {
	color: green;
}

.page-id-2 .x-raw-content .form#newsletter-section-7 .field input {
	font-family: 'gotham';
	font-size: 13px;
	width: 100%;
	max-width: 300px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
}

.page-id-2 .x-raw-content .form#newsletter-section-7 .submit button {
	font-family: 'gotham';
	padding: 5px 25px;
	color: white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}

/*----------  EDIT TAB BAR STYLE Start  ----------*/

.x-nav-tabs {
	font-weight: 500;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	box-shadow: none;
}

.x-nav-tabs .x-nav-tabs-item {
	margin-right: 10px;
	border: none;
}

.x-nav-tabs .x-nav-tabs-item a {
	float: left;
	padding-left: 0;
	background-color: white;
}

.x-nav-tabs .x-nav-tabs-item a:hover {
	background-color: white;
}

.x-nav-tabs .x-nav-tabs-item.active a {
	box-shadow: none !important;
}

.x-tab-content {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	box-shadow: none;
}

/*----------  EDIT TAB BAR STYLE End  ----------*/

/*----------  EDIT STYLES OF BLOG PAGE Start  ----------*/

.page-id-64 .entry-wrap {
	padding: 0;
	box-shadow: none;
}

.page-id-64 .entry-wrap .entry-header .entry-title {
	display: none;
}

.page-id-64 .x-container.max.width.offset {
	margin-top: 20px;
}

.page-id-64 .tg-grid-wrapper .tg-filters-holder .tg-filter {
	margin: 10px;
}

.page-id-64 .tg-grid-wrapper .tg-grid-holder .tg-item { /*----------  REMOVE AUTHOR OF A BLOG  Start  ----------*/ /*----------  REMOVE AUTHOR OF A BLOG End  ----------*/
}

.page-id-64 .tg-grid-wrapper .tg-grid-holder .tg-item .tg-item-content-holder .tg-item-author {
	display: none;
}

/*----------  EDIT STYLES OF BLOG PAGE End  ----------*/

/*----------  EDIT STYLES OF ALERTS FROM CONTACT FORM Start  ----------*/

.page-id-67 .x-main #x-section-5 .x-container #wpcf7-f87-p67-o1 p span span[role=alert] {
	color: red;
}

/*----------  EDIT STYLES OF ALERTS FROM CONTACT FORM End  ----------*/

.page-id-130 { /*----------  EDIT STYLES OF CART BUTTON OF SHOP PAGE Start  ----------*/ /*----------  EDIT STYLES OF CART BUTTON OF SHOP PAGE End  ----------*/
}

.page-id-130 .x-raw-content .price-product {
	font-size: 55px;
	padding-right: 10px;
	vertical-align: text-bottom;
	color: #8d542a;
}

.page-id-130 .x-raw-content .cart-button .cart-icon {
	display: inline-block;
	width: 110px;
	height: 60px;
	margin-bottom: 16px;
	background: url('../images/cart-icon-new.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

.page-id-130 .x-raw-content .cart-button .cart-icon:hover {
	opacity: .8;
}

.page-id-130 .h-custom-headline {
	margin-top: 15px;
}

/**
 * Header styling
 */

header .x-social-global a i {
	width: 18px;
	height: 15px;
	margin: 5px 4px; /*      &.x-icon-linkedin-square {
          background: url('../images/linkedin-topbar-icon-brown.png') no-repeat;
          background-position: center center;
          background-size: contain;
        } */ /*         &.x-icon-pinterest-square {
          background: url('../images/pinterest-topbar-icon-brown.png') no-repeat;
          background-position: center center;
          background-size: contain;
        }  */
}

header .x-social-global a i:before {
	content: initial;
}

header .x-social-global a i.x-icon-search {
	background: url('../images/search-topbar-icon-grey.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-search:hover {
	background: url('../images/search-topbar-icon-brown.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-facebook-square {
	background: url('../images/facebook-topbar-icon-grey.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-facebook-square:hover {
	background: url('../images/facebook-topbar-icon-brown.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-instagram {
	background: url('../images/instagram-topbar-icon-grey.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-instagram:hover {
	background: url('../images/instagram-topbar-icon-brown.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-youtube-square {
	background: url('../images/youtube-topbar-icon-grey.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global a i.x-icon-youtube-square:hover {
	background: url('../images/youtube-topbar-icon-brown.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

header .x-social-global .x-hidden-desktop {
	display: none !important;
}

header .x-navbar .x-nav-wrap .x-nav .current-menu-item a {
	box-shadow: none;
}

header .x-navbar .x-nav-wrap .x-nav li a:hover {
	box-shadow: none;
}

/**
 * Footer styling
 */

footer.x-colophon.top {
	padding-top: 20px;
	padding-bottom: 0;
}

footer .x-column .widget .h-widget {
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

footer .x-column .widget#text-3 {
	margin: 0;
	padding: 6px 0;
}

footer .x-column .widget .menu {
	border: none;
}

footer .x-column .widget .menu > li a {
	line-height: 14px;
	padding-right: 0;
	padding-left: 0;
	border: none;
}

footer .x-column .widget .menu > li a:before {
	display: none;
}

footer .x-column .widget p {
	line-height: 14px;
	margin: 0;
	padding: .65em 0;
}

footer .x-column .widget .form {
	box-sizing: border-box;
	width: 100%;
}

footer .x-column .widget .form input {
	font-family: 'gotham';
	font-size: 13px;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
}

footer .x-column .widget .form .title {
	font-size: 14px;
	margin-top: 10px;
	letter-spacing: 0;
	color: #6f6f6f;
}

footer .x-column .widget .form .responses div {
	display: none;
	text-align: center;
}

footer .x-column .widget .form .responses #error-response {
	color: red;
}

footer .x-column .widget .form .responses #success-response {
	color: green;
}

footer .x-column .widget .form .submit button {
	font-family: 'gotham';
	margin: 0;
	padding: 5px 25px;
	color: white;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	text-shadow: none;
}

footer.x-colophon.bottom {
	padding: 0;
	border: none;
	background: #eee;
	box-shadow: none;
}

footer.x-colophon.bottom .x-colophon-content {
	margin: 0;
	padding: 0;
}

footer.x-colophon.bottom .x-colophon-content p {
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	padding: 5px 0;
	text-align: left;
	letter-spacing: 0;
}

/**
 * For all screen
 */

#quickViewOverlay {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	opacity: .7 !important;
	background: #000 !important;
}

#quickViewResponseData {
	position: fixed;
	z-index: 3000;
	top: calc(50% - 250px);
	left: calc(50% - 350px);
	display: none;
	overflow: auto;
	width: 700px;
	height: 500px;
	background: #f9f9f9;
	background-color: white;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#quickViewResponseData input,
#quickViewResponseData select,
#quickViewResponseData button {
	outline: none !important;
}

#quickViewResponseData .close-quickview {
	font-size: 30px;
	position: fixed;
	z-index: 100000;
	top: calc(50% - 250px);
	right: calc(50% - 350px);
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 35px;
	cursor: pointer;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#quickViewResponseData #qty_ {
	max-width: 180px;
	padding: 10px;
	padding-right: 35px !important;
	color: #303030;
	border: 1px solid #d6d6d6;
	border-radius: 0;
	background-color: #fff;
	background-image: url('../images/select-down-icon.jpeg');
	background-repeat: no-repeat;
	background-position: right 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart {
	margin-top: 10px;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart input {
	box-sizing: border-box;
	padding: 12px 8px;
	color: white;
	border: none;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart input:hover {
	cursor: pointer;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart input.disabled {
	background-color: #888;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart span {
	display: none;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow.addToCart a {
	display: none;
}

#quickViewResponseData #QuickViewContent .qprod #QuickViewShareLinksContainer {
	display: none;
}

/**
 * For mobile only
 */

/**
 * For tablet and desktop
 */

@media screen and (min-width: 544px) and (max-width: 768px) {

.x-nav-tabs .x-nav-tabs-item {
	width: initial !important;
}

}

@media screen and (min-width: 751px) and (min-device-width: 751px) {

#quickViewResponseData .clear {
	display: none;
}

#quickViewResponseData #QuickViewImage {
	float: left;
}

#quickViewResponseData #QuickViewImage img {
	float: left;
	max-width: 240px;
	max-height: 400px;
	margin: 0 20px 0 40px;
}

#quickViewResponseData .ProductDetailsGrid {
	box-sizing: border-box;
	padding-left: 300px;
}

#quickViewResponseData .ProductDetailsGrid > h1 {
	font-size: 25px;
}

#quickViewResponseData #QuickViewContent .qprod {
	float: left;
}

}

@media screen and (min-width: 768px) and (max-width: 920px) {

.x-nav-tabs .x-nav-tabs-item {
	width: 33.33% !important;
}

}

@media screen and (min-width: 920px) {

.x-nav-tabs .x-nav-tabs-item {
	width: initial !important;
}

}

@media screen and (max-width: 979px) {

.x-navbar-fixed-top {
	position: fixed;
}

}

@media screen and (max-width: 978px) {

header .x-menu-item-search {
	display: none;
}

}

@media screen and (max-width: 750px) and (max-device-width: 750px) and (orientation: landscape) {

#quickViewResponseData {
	top: calc(50% - 150px);
	left: calc(50% - 200px);
	overflow: auto;
	width: 400px;
	height: 300px;
}

#quickViewResponseData .close-quickview {
	top: calc(50% - 150px);
	right: calc(50% - 200px);
}

#quickViewResponseData .ModalContent {
	overflow: auto;
}

#quickViewResponseData .loading-div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#quickViewResponseData #QuickViewImage {
	text-align: center;
}

#quickViewResponseData #QuickViewImage img {
	max-height: 200px !important;
	margin-top: 100px;
}

#quickViewResponseData .ProductDetailsGrid > h1 {
	font-size: 15px;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow {
	margin-bottom: 5px;
}

#quickViewResponseData #quickViewResponseData .BrandName {
	display: none;
}

#quickViewResponseData .s-price {
	display: none;
}

}

@media screen and (max-width: 544px) {

.x-nav-tabs .x-nav-tabs-item {
	width: 33.33% !important;
}

.page-id-130 .x-raw-content {
	text-align: center;
}

}

@media screen and (max-width: 480px) and (orientation: portrait), screen and (max-width: 750px) and (min-device-width: 751px) {

#quickViewResponseData {
	top: calc(50% - 200px);
	left: calc(50% - 150px);
	overflow: hidden;
	width: 300px;
	height: 400px;
	-ms-flex-align: initial;
	align-items: initial;
}

#quickViewResponseData .ModalContent {
	overflow: hidden;
}

#quickViewResponseData .loading-div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#quickViewResponseData .close-quickview {
	top: calc(50% - 200px);
	right: calc(50% - 150px);
}

#quickViewResponseData #QuickViewImage {
	text-align: center;
}

#quickViewResponseData #QuickViewImage img {
	max-height: 200px !important;
}

#quickViewResponseData .ProductDetailsGrid > h1 {
	font-size: 15px;
}

#quickViewResponseData .ProductDetailsGrid .DetailRow {
	margin-bottom: 5px;
}

#quickViewResponseData #quickViewResponseData .BrandName {
	display: none;
}

#quickViewResponseData .s-price {
	display: none;
}

}

